 .container {
  
   
    position: relative;
    display: flex;
    flex-direction: column;
	margin: auto;
    margin-left: 450px;
	margin-top: 10px;
    width: fit-content;
    height:fit-content;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
      -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    transition: 0.4s;
    overflow: hidden;
} 
     
     


.divimg {
	background-image: url(https://d3d0lqu00lnqvz.cloudfront.net/VideoGames/xbox_controller_dreamstime_137654598.jpg);
	background-size: cover;
    background-attachment: fixed;
    text-align: center;
    width: 1350px;
    height: 900px;
    padding: 5px ;
    margin: 0;
   
   
   
}

.read {
	background-color: turquoise;
	border: none;
	border-radius: 40px;
	height:fit-content ;
	width: fit-content;
	margin-left: 550px;
	color: white;
	padding: 15px 32px;
	font-size: 1.2em;
	box-shadow: 0px 0px 10px 0px lightblue;
	cursor: pointer;
}

.display {
	display: none;
}

.show{
	display: block;
}