.divimg {
	background-image: url(https://d3d0lqu00lnqvz.cloudfront.net/VideoGames/xbox_controller_dreamstime_137654598.jpg);
	background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height:290em;
    padding: 20px
   
   
   
}

.con{
    display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
justify-content: center;
padding: 4px;

}