.CardsCointaner {
/*    border: 1px solid black;
   display: flex;
   flex-direction: row;
   border-radius: 10px;
   flex-wrap: wrap;
   gap: 1em; */

   
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
justify-content: center;
padding: 4px;

}

/* .Pag {
   display: flex;
   justify-content: center;
   margin-bottom: 520px;
  
   padding-left: 10px;
   
} */
