.divimg {
	background-image: url(https://d3d0lqu00lnqvz.cloudfront.net/VideoGames/xbox_controller_dreamstime_137654598.jpg);
	background-size: cover;
    background-attachment: fixed;
    text-align: center;
    width: 1350px;
    height: 800px;
    padding: 5px ;
    margin: 0;
   
   
}